body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f5f7fa;
}

.btn-sync {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-sync:disabled {
    background-color: #cccccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.status {
    margin-top: 10px;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button#btnScrape {
    background-color: #0066cc;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button#btnScrape:hover {
    background-color: #004b99;
}

#loading {
    display: none;
    margin-top: 15px;
    color: #0066cc;
    font-weight: bold;
}
td.type_bassin {
    background-color: #7db5ec;
    font-weight: bold; 
    text-align: left; 
    padding: 8px;
}
td.nage {
    font-weight: bold;
    text-align: center;
}
.time {
    font-weight: bold;
    font-size: 1em;
    color: #004b99;
}
.detail {
    font-style:italic;
    font-size: small;
}
.badge-success {
  color: #2e7d32;
  font-weight: bold;
  background-color: #e8f5e9;
  padding: 2px 6px;
  border-radius: 4px;
}
.badge-danger {
  color: #c62828;
  font-weight: bold;
  background-color: #ffebee;
  padding: 2px 6px;
  border-radius: 4px;
}
.icon-record {
  font-size: 0.9em;
  margin-left: 3px;
  cursor: help;
}
tr.color-F {
    background-color: #dabaf7;
}
tr.color-H {
    background-color: #91c6ff;
}
#table-performances th{
    background-color: #444;
    color: #ccc;
}
/* Style du tableau */
#body-performances tr:nth-child(even) {
  background-color: #f9f9f9; /* Gris très clair */
}

#body-performances tr:nth-child(odd) {
  background-color: #ffffff; /* Blanc */
}

/* Survol de la ligne pour une meilleure lisibilité */
#body-performances tr:hover {
  background-color: #f1f1f1; /* Gris légèrement plus foncé au survol */
}

/* Conserver un style distinct pour les lignes d'en-tête de bassin */
#body-performances tr .type_bassin {
  background-color: #e0e0e0; /* Gris moyen pour détacher les séparateurs */
  font-weight: bold;
}
.btn-detail { width: 100%; background-color: #000; color: white; border: none; padding: 5px 10px; border-radius: 8px; cursor: pointer; }
.btn-detail:hover { background-color: #138496; }

/* Conteneur modale/détail */
#sectionDetail {  margin-top: 40px; padding: 20px; border: 2px solid #007bff; border-radius: 5px; background-color: #fafafa; display: none; }
.temps-liste { font-size: 0.85em; list-style-type: none; padding-left: 0; margin: 0; }
.temps-liste li { margin-bottom: 2px; }